$black:         #000000;
$blue-gray:     #222835;
$blue-dark:     #193765;
$blue-darkish:  #1C5F75;
$blue-light:    #B5D2FF;
$dark-grey:     #a9a9a9;
$darker-gray:   #666666;
$grey:          #cccccc;
$gray85:        #d9d9d9;
$grey-white:    #e6e6e6;
$gray-text:     #666666;
$light-grey:    #d3d3d3;
$lighter-gray:  #9e9e9e;
$orange:        #ff8000;
$orange-accent: #E68523;
$paper-note:    #FFFDD0;
$pink:          #ffb2b2;
$red:           #ff0000;
$rice:          #FCF8F0;
$white:         #ffffff;
