//@TODO move input style to component folder when input component is created
.input-component {
  overflow: hidden;
  padding: 13px;
  width: 100%;

  &__field,
  &__label {
    box-sizing: border-box;
  }

  &__field {
    border: 1px solid $lighter-gray;
    border-radius: 6px;
    font-size: 14px;
    min-width: 240px;
    padding: 6px;

    &:active,
    &:focus,
    &:hover {
      @include shadow(0, 0, 4px, $blue-light);
      border-color: $blue-light;
      outline: 0;
    }
  }

  &__label {
    font-size: 15px;
    line-height: 19px;
    padding-right: 6px;
    vertical-align: text-bottom;
  }

  &--center-content {
    text-align: center;
  }
}
