@mixin transition($property, $timing) {
  -moz-transition: $property $timing ease;
  -o-transition: $property $timing ease;
  -webkit-transition: $property $timing ease;
  transition: $property $timing ease;
}

@mixin shadow($x, $y, $radius, $color) {
  box-shadow: $x $y $radius $color;
  -moz-box-shadow: $x $y $radius $color;
  -webkit-box-shadow: $x $y $radius $color;
}