{{#each layouts as |layout|}}
  {{#if (eq layout holdLayout) }}
    {{button-image imgUrl=layout.url click=(action 'clickPrototype' layout) class="canvas-panel__layout-item--selected"}}
  {{else}}
    {{button-image imgUrl=layout.url click=(action 'clickPrototype' layout)}}
  {{/if}}
{{/each}}
