.navbar {
  
  border-bottom: 2px solid $orange-accent;

  &__home-btn {
    background-color: $orange-accent;
    color: $white;
    display: inline-block;
    font-size: 27px;
    padding: 12px;
    text-align: center;
    @include transition(background-color, 0.5s);
    width: 40px;

    &:hover {
      background-color: $blue-dark;
    }
  }

  &__logo {
    float: right;
    margin-top: 7px;
    text-align: center;
    width: 130px;

    &-title {
      font-size: 35px;
      line-height: 30px;
    }

    &-subtitle {
      font-size: 13px;
      font-style: italic;
      color: $dark-grey;
    }
  }

  &__p-title {
    cursor: text;
    display: inline-block;
    outline: none;
    position: relative;

    &:focus {
      display: none;
    }

    &:hover &-tooltip {
      left: 100%;
      margin-top: -15px;
      margin-left: 15px; 
      opacity: 0.8;
      top: 50%;
      visibility: visible;
      z-index: 999;
    }

    &-tooltip {
      background: $black;
      border-radius: 6px;
      color: $white;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      padding: 2px;
      position: absolute;
      text-align: center;
      visibility: hidden;
      width: 80px;

      &:after {
        border-bottom: 8px solid transparent;
        border-right: 8px solid $black;
        border-top: 8px solid transparent;
        content: '';
        height: 0;
        margin-top: -9px;
        position: absolute;
        right: 97%;
        top: 50%;
        width: 0;
      }
    }
  }
}

.canvas-cnt {

  display: inline-block;
  margin: 10px 2%;
  vertical-align: top;
  width: 65%;

  &__slide {
    border: 1px solid $grey;
    border-radius: 5px;
    height: 620px;
    width: 100%;
  }

  &__note {
    margin-top: 50px;

    &-label {
      display: block;
      padding-bottom: 15px;
    }

    &-content {  
      background-color: $paper-note;
      border-radius: 5px;
      height: 75px;
      width: 100%;
    }
  }
}