<div class="navbar">
  {{#link-to 'presentations' class="navbar__home-btn"}}
    <i class="fa fa-home navbar__icon" aria-hidden="true"></i>
  {{/link-to}}

  <div class="navbar__p-title">
    {{index-presentation-title presentation = model}}
    <span class="navbar__p-title-tooltip">Edit title</span>
  </div>

  <div class="navbar__logo">
    <h2 class="navbar__logo-title">slides</h2>
    <span class="navbar__logo-subtitle">express yourself</span>
  </div>
</div>

{{canvas-toolbar
  handleTextButtonClick = (action 'handleTextButtonClick')
  handleNoteButtonClick = (action 'handleNoteButtonClick')
  handleIconButtonClick = (action 'handleIconButtonClick')
  addEmptySlide = (action 'addEmptyLayout')
  onColor = (action 'handleSelectToolbarColor')}}

{{slide-list-component
  slides=model.layouts
  handleSlideClick = (action 'handleLayoutClick')
  addEmptySlide = (action 'addEmptyLayout')
  removeSlide = (action 'removeLayout')
  selectedSlide=selectedSlide}}

<div class="canvas-cnt">
  <div class="canvas-cnt__slide">
    {{outlet}}
  </div>
  {{#if (eq isNoteVisible true) }}
    <div class="canvas-cnt__note">
      <label for="note" class="canvas-cnt__note-label">Note: </label>
      <textarea id="note" class="canvas-cnt__note-content"
        value=''
        onchange={{action 'saveTextareaContent' value="target.value"}}>
      </textarea>
    </div>
  {{/if}}
</div>

{{canvas-panel-properties
  clickPrototype=(action 'handlePrototypeClick')
  onColorChange=(action 'handlePanelColorChange')
}}
