body {
  color: $darker-gray;
  font-size: 14px;
  font-family: "Oswald", "Arial", "sans-serif";
}

.clear {
  clear: both;
  float: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-wrapper {
  margin: auto;
  max-width: 1170px;
  padding: 100px 0;
  width: 80%;
}

.logo {

  font-size: 60px;
  line-height: 40px;

  &__subtitle {
    color: $dark-grey;
    display: block;
    font-size: 20px;
    font-style: italic;
  }
}

.presentations-list {
  padding: 20px 0;
}

.section {

  font-size: 18px;
  padding: 20px 0;

  &__button {
    background-color: $orange-accent;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    float: right;
    line-height: 25px;
    padding: 5px 10px;
    text-align: center;
    @include transition(background-color, 0.5s);

    &:hover {
      background-color: $blue-dark;
      color: $white;
    }

    &-font {
      font-family: inherit;
      font-size: 17px;
      text-transform: uppercase;
    }
  }

  &__title {
    float: left;
    text-transform: uppercase;
  }
}

.box {

  list-style: none;

  &__presentation {
    border-radius: 5px;
    box-sizing: border-box;
    @include shadow(0, 0, 1px, $lighter-gray);
    display: inline-block;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 1.7%;
    padding: 10px;
    width: 23.5%;
    @include transition(box-shadow, 0.5s);

    &:hover {
      @include shadow(0, 0, 35px, $grey);
      color: $blue-darkish;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &-content {
      background-color: $grey;
      height: 150px;
      width: 100%;
    }

    &-info {
      margin-top: 10px;
    }

    &-title,
    &-calendar {
      display: block;
      font-size: 12px;
    }

    &-title {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 65%;
      white-space: nowrap;
    }

    &-calendar {
      float: right;
    }

    &-date {
      font-style: inherit;
      line-height: 20px;
      vertical-align: top;
    }
  }
}
