{{outlet}}
<div class="page-wrapper">
  <div class="logo">
    <h2 class="logo__title">slides</h2>
    <span class="logo__subtitle">express yourself</span>
  </div>
  <div class='presentations-list'>
    <div class="section">
      <h3 class="section__title">Last presentations</h3>
      <span class="section__button section_button--add" {{action 'addEmptyPresentation'}}>
        {{fa-icon "plus section_button-font"}} Start a new one
      </span>
      <div class="clear"></div>
    </div>
    <ul class="box">
      {{#each model.presentations as |presentation|}}
        <li class="box__presentation" {{action 'handleClickPresentation' presentation}}>
          <div class="box__presentation-content"></div>
          <div class="box__presentation-info">
            <span class="box__presentation-title">{{presentation.title}}</span>
            <span class="box__presentation-calendar">
              {{fa-icon "calendar box__presentation-date-font"}}
              <em class="box__presentation-date">{{presentation.modified_date}}</em>
            </span>
            <span class="clear"></span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
