.slide-list {
  display: inline-block;
  box-sizing: border-box;
  height: 620px;
  overflow: hidden;
  width: 15%;

  &:hover {
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track { 
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: 5px;
  }
}

.add-slide-button {
  margin-top: 20px;
  text-align: center;
}