.canvas-panel {

  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  width: 15%;

  &__head {
    border-bottom: 1px solid $grey;
  }

  &__item {
    border-color: $white;
    border-style: solid;
    border-width: 1px 1px 0;
    box-sizing: border-box;
    color: $blue-dark;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    text-transform: uppercase;
    width: 49%;

    &:hover,
    &:focus,
    &--active {
      border-color: $grey;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__body {

    margin-top: 20px;
    
    &-title {
      display: block;
      padding-left: 10px;
    }
  }

  &__layout {

    &-item {
    border: 0px;
    display: inline-block;
    margin: 0 10px 10px;
    padding: 5px;

      &-preview {
        display: block;

        &:hover {
          cursor: pointer;
        }
      }

      &--selected {
        background-color: $orange-accent;
      }
    }
  }
}