<div class="canvas-panel__head">
  <span {{action 'clickLayout'}} class={{if isActive 'canvas-panel__item canvas-panel__item--closed' 'canvas-panel__item canvas-panel__item--active'}}>Layouts</span>
  <span {{action 'clickProperties'}} class={{if isActive 'canvas-panel__item canvas-panel__item--active' 'canvas-panel__item canvas-panel__item--closed'}}>Properties</span>
</div>
<div class="canvas-panel__body">
  {{#if isLayouts}}
    {{layouts-list clickPrototype = clickPrototype }}
  {{/if}}

  {{#if isProperties}}
    <span class="canvas-panel__body-title">Background</span>
    {{canvas-properties-color-picker onChange=onColorChange}}
  {{/if}}
</div>
