<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoffeeEmberSlides</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/coffee-ember-slides.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    {{content-for "head-footer"}}
  </head>
  <body>
    <div id="dialog-container"></div>
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/coffee-ember-slides.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
