.slide-list__item {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;

  &-preview {
    height: 198px;
    position: relative;
    width: 100%;  
  }

  &-content {
    border-radius: 5px;
    @include shadow(0, 0, 2px, $lighter-gray);
    height: inherit;
    @include transition(box-shadow, 0.5s);
  }

  &-id {
    font-size: 14px;
    left: 15px;
    position: absolute;
    top: 6px;
    z-index: 2;
  }

  &-remove-icon {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    @include transition(font-size, 0.2s);
    z-index: 99;

    &:hover {
      font-size: 20px;
    }
  }

  &--selected {
    
    .slide-list__item-content {
      @include shadow(0, 0px, 25px, $grey);

      &::after,
      &::before {
        border-color: transparent;
        border-style: solid;
        border-top-left-radius: 5px;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
      }

      &::before {
        border-left-color: $blue-darkish;
        border-top-color: $blue-darkish;
        border-width: 30px;
      }

      &::after {
        border-left-color: $blue-darkish;
        border-radius: 5px;
        border-top-color: $blue-darkish;
        border-width: 20px;
      }
    }

    .slide-list__item-id {
      color: $white;
    }

    .slide-list__item-remove-icon {
      color: $blue-darkish;
    }
  }
}