<div class="slide-list__item-preview" {{action 'handleSlideClick' slideSelected}}>
  <span class="slide-list__item-id" >{{plus-one setIndex}}</span>
  <div class="slide-list__item-content">
    
  </div>
  {{fa-icon "fa-trash-o slide-list__item-remove-icon" click =(action 'handleSlideRemoveClick')}}
</div>