{{#ember-wormhole to="dialog-container"}}
  {{#modal-container}}
    {{#confirmation-dialog
      confirmButtonLabel="CREATE"
      onClose=(action "navigateToPresentationsList")
      onConfirm=(action "createPresentation")
      title="CREATE PRESENTATION"
    }}
      <div class="input-component input-component--center-content">
          <label class="input-component__label">Presentation Name</label>
        {{input class="input-component__field" maxlength="30" placeholder="Add presentation name" type="text" value=presentationName}}
      </div>
    {{/confirmation-dialog}}
  {{/modal-container}}
{{/ember-wormhole}}