.canvas {
  
  margin-bottom: 20px;

  &__button {
    background: transparent;
    border: none;
    outline: none;
    min-width: 60px;
    padding: 12px;
    @inlude transition(color,0.5s);

    &:hover {
      color: $blue-dark;
      cursor: pointer;
    }

    &:focus {
      outline: none; 
    } 
    
    &-text {
      display: block;
      padding-top: 10px;
    }

    &--selected {
      color: $orange-accent;
    }
  }
}