{{#each buttons as |button|}}
  {{icon-text-button
    isSelected=(eq button holdClickedButton)
    click=(action 'handleClick' button)
    text=button.text
    icon=button.icon
  }}
{{/each}}
{{toolbar-color-picker onChange=(action onColor)}}