.dialog {
  @include shadow(0, 3px, 9px, rgba(0, 0, 0, .5));
  background: $white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;

  &__content,
  &__footer,
  &__header {
    box-sizing: border-box;
  }

  &__button {
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 6px;
    cursor: pointer;
    padding: 7px 12px;
    text-align: center;

    &,
    &:active,
    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: $grey-white;
      border-color: $dark-grey;
    }

    &--active {
      border-color: $orange-accent;
      background-color: $orange-accent;
      color: $white;

      &:hover {
        background-color: $blue-dark;
        border-color: $blue-dark;
      }
    }

    &--left {
      float: left;
    }

    &--right {
      float: right;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    min-height: 100px;
    padding: 10px 0;
  }

  &__footer {
    border-top: 1px solid $light-grey;
    padding-top: 15px;
  }

  &__header {
    border-bottom: 1px solid $light-grey;
    color: $orange;
    font-size: 17px;
    line-height: 17px;
    padding-bottom: 15px;
    text-align: center;
  }
}
