{{#if title}}
  <div class="dialog__header">{{title}}</div>
{{/if}}

<div class="dialog__content">
  {{yield}}
</div>

<div class="dialog__footer">
  <button class="dialog__close-button dialog__button dialog__button--left" onclick={{onClose}}>{{closeButtonLabel}}</button>
  <button class="dialog__confirm-button dialog__button dialog__button--active dialog__button--right" onclick={{onConfirm}}>{{confirmButtonLabel}}</button>
</div>