.navbar__title {
  
  &-presentation {
    border: 1px solid transparent;
    cursor: text;
    display: inline-block;
    font-size: 30px;
    outline: none;
    padding: 7px 7px 9px;

    &:hover {
      border-color: $grey;
      cursor: text;
    }

    &:focus {
      border-color: $grey;
    }

    &--selected {
      contenteditable: true;
      cursor: text;
    }

    &--deselected {
      contenteditable: false;
      cursor: default;
    }
  }
}